[defaults]

interpreter_python = /usr/bin/python3

roles_path = ../:~/.ansible/roles:~/.ansible/collections/ansible_collections:/usr/share/ansible/roles:/etc/ansible/roles

inventory = inventory/e2e.ini

remote_user = ansible
become_user = ansible
ask_become_pass = True
#ask_pass = True
transport = smart
remote_port = 22

# uncomment this to disable SSH key host checking
host_key_checking = no
show_custom_stats = no

executable = /bin/bash

private_key_file = ~/.ssh/ansible.cherubits.hu
;vault_password_file = vault.txt

library = ~/.ansible/plugins/modules:/usr/share/ansible/plugins/modules:./modules
module_utils = ~/.ansible/plugins/module_utils:/usr/share/ansible/plugins/module_utils:module_utils

[selinux]
special_context_filesystems = nfs,vboxsf,fuse,ramfs,vfat

